.input {
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #eaeaea;
  color: #000;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
  padding: 10px 12px;
  vertical-align: middle;
  background: white;
}

.input:focus {
  outline: 1px solid #000;
  color: #000;
}

.input:focus::placeholder {
  color: #000;
}

.input:disabled {
  color: #aaa;
  border: 1px solid #eaeaea;
  background: #fafafb;
}

.input:disabled::placeholder {
  color: #aaa;
}

.input.error {
  background: #fff;
  border: 1px solid #f55858;
  color: #000;
}

.input.error::placeholder {
  color: #000;
}

.helper-text {
  color: #f55858;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.42px;
  margin: 8px 6px 0 6px;
}

.input--secondary {
  color: #333;
  background-color: transparent;
}

.input--small {
  font-size: 12px;
}

.input--medium {
  font-size: 14px;
}

.input--large {
  font-size: 16px;
}
