.button {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  background-color: black;
}

.button-basic {
  border-radius: 0.25rem;
}

.button-solid {
  border-radius: 0rem;
}

.button-round {
  border-radius: 45px;
}

.button--primary {
  color: #fff;
  /* background: #1db177; */
  background: black;
}

.button--secondary {
  color: white;
  background-color: #535c68;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button--gray {
  color: #666666;
  background-color: #f5f5f5;
}

.button--sm {
  font-size: 12px;
  padding: 6px;
}

.button--md {
  font-size: 14px;
  padding: 8px;
}

.button--lg {
  font-size: 16px;
  padding: 12px;
}

.button--xl {
  font-size: 18px;
  padding: 16px;
}
