.storybook-col {
  display: flex;
  flex-direction: column;
}

.storybook-col.align-center {
  align-items: center;
}

.storybook-col.align-end {
  align-items: flex-end;
}

.storybook-col.align-start {
  align-items: flex-start;
}
